/* 搜索ui */

.ui-search{
    background: url(../img/ui-search.jpg) center no-repeat;
    font-size: 14px;
    color: #fff;
    position: relative; 
}

.ui-search-selected{
    width: 70px;
    height: 38px;
    line-height: 38px;
    position: absolute;
    left: 0;
    right: 0;
    text-indent: 14px;
    cursor: pointer;
}
.ui-search-select-list{
    position: absolute;
    width: 67px;
    line-height: 24px;
    background: #fff;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    left: 2px;
    top: 36px;
    z-index: 2;
    display: none;
}

.ui-search-select-list a{
    display: block;
    color: #a5a2a2;
    text-align: center;
}
.ui-search-select-list a:hover{
    background-color: #ebeef5;
}
.ui-search-input{
    width: 212px;
    height: 29px;
    position: absolute;
    top: 4px;
    left: 70px;
    line-height: 26px;
    font-size: 13px;
    color:#a5a2a2;
    border: 0px;   /* 去除边框 */
    outline:none /* 去除选中时的边框边框 */
    
}

.ui-search-submit{
    display: block;
    position: absolute;
    right: 0;
    top: 1px;
    width: 40px;
    height: 36px;
}


/* ui-menu 分类 */

.ui-menu-item{
    height: 22px;
    line-height: 22px;
    padding: 8px 5px 9px 6px;
    /* margin-left: 2px; */
}
.ui-menu-item:hover{
    background: #fff;
}

.ui-menu-item-department{
    float: left;
    height: 22px;
    line-height: 22px;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    color:#fff
}
.ui-menu-item-disease{
    font-size: 12px;
    float: right;
    padding-left: 5px;
    color: #d7f3ff
}

.ui-menu-item:hover .ui-menu-item-department{
    color:#333;
}
.ui-menu-item:hover .ui-menu-item-disease{
    color: #868686;
}
.ui-menu-item:hover .ui-menu-item-detail{
    display: block;
}
.ui-menu-item-detail{
    display: none;
}
.ui-menu-item-detail{
    position: absolute;
    width: 500px;
    height: 394px;
    padding:20px 10px 10px 29px;
    background: #fff url(../img/bg-menu.jpg) center no-repeat;
    top: 0;
    left: 188px;
    box-shadow: 5px 5px 2px rgba(0,0,0,0.1);
    z-index: 50;
    
}

.ui-menu-item-detail-group{
    padding-bottom: 20px;
    text-align: left;
}
.ui-menu-item-detail-group-caption{
    /* width: 100%; */
    /* display: block; */
    height: 34px;
    line-height: 34px;
    color:#666;
    font-size: 16px;
    font-weight: bold;


}
.ui-menu-item-detail-group-list{
    line-height: 23px;

}
.ui-menu-item-detail-group-list a{
    display: inline-block;
    color:#868686;
    margin-right: 8px;
    font-size: 12px;
    border-bottom: 5px;
}
.ui-menu-item-detail-group-list a::after{
    content:'|';
    color:#ddd;
    padding-left: 8px;
}

/* 回到顶部 */
.ui-backtop{
    display: none;
    position: fixed;
    right: 2px;
    bottom: 2px;
    z-index: 9;
    width: 40px;
    height: 40px;
    color: #fff;
    background: rgba(102,102,102,.9) url(../img/icon-go-up.png) no-repeat center; 
}


.ui-backtop:hover{
    background: rgba(102,102,102,.9)
    

}
.ui-backtop:hover::after{
    content: '回到顶部';
    display: block;
    line-height: 20px;
    text-align: center;
}

/* 幻灯片组件 */

.ui-slider{
    width: 544px;
    height: 414px;
    position: relative;
    overflow: hidden;
}
.ui-slider-wrap{
    width: 9999px;
    height: 414px;
    position: absolute;
    transition: all  0.5s

}
.ui-slider-wrap .item{
    /* display: block; */
    float: left;
    width: 544px;
    height: 414px;

}
.ui-slider-arrow{
    position: absolute;
    width: 544px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
}
.ui-slider-arrow .item{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    background: url(../img/ui-slider-arrow.png) no-repeat left;
}
.ui-slider-arrow .left{
    left: 0;
}
.ui-slider-arrow .right{
    right: 0;
    background-position: -40px 0;
}

.ui-slider-process{
    position: absolute;
    width: 544px;
    height: 12px;
    text-align: center;
    left: 0;
    bottom: 20px;
}

.ui-slider-process .item{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/ui-slider-process.png) no-repeat;
}
.ui-slider-process .item:hover{
    background-position: -23px 0;
}
.ui-slider-process .item.item_focus{
    background-position: -23px 0;
}